@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

span {
    color: var(--main-color);
}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    background: var(--bg-color);
}

.post-container {
    align-items: center;
    margin: auto;
    width: 80%;
}
.header-content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem !important;
    text-align: center;
    align-items: center;
}
.back-home {
    color: #ccc;
    font-size: 1.5rem;
}
.back-home:hover {
    color: var(--main-color);
}
.post-header .header-title {
    font-size: 4.2rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 2rem 0;
}
.post-header .header-img {
    max-width: 100%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    margin: 15px auto;
}
.post-content {
    padding: 10px;
    max-width: 800px;
    margin: -8rem auto;
}
.sub-heading {
    font-size: 2.5rem;
    margin-top: 2rem;
}
.post-text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin: 1rem 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.social-icons a {
    color: var(--text-color);
    font-size: 2.4rem;
    transition: .5s ease;
}

.social-icons a:hover {
    color: var(--main-color);
}

.footer {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 1.5rem 9%;
    background: var(--second-bg-color);
    justify-content: center;
}

.footer-text p {
    font-size: 1.6rem;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .post-header .header-title {
        font-size: 2.2rem;
    }

    .sub-heading {
        font-size: 1.5rem;
    }

    .post-text {
        font-size: 1rem;
    }

}    

@media (max-width: 450px) {
    .post-header .header-title {
        font-size: 3rem;
    }

    .post-content {
        margin-left: 6rem;
        padding: 5px;
    }

    .sub-heading {
        font-size: 2rem;
    }

    .post-text {
        font-size: 1.2rem;
    }
}